@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Aluno @ViewData["Aluno"]</p>
<addres>
	<strong>More information:</strong> <a href="https://github.com/SilvaEric/AspNetCore2.1"> GITHUB</a>
</addres>